$gray: #9F9F9F;
$gray-dark: #3B3B3B;
$pink: #F71963;
$black: #3F3F40;
$white: #FFF;
$rgba: rgba(57, 48, 19, 0.12);

$bg-input: #F6F5F2;
$bg-footer-dark: #2A2A2A;
$bg-footer-white: #FFF;
$bg-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 85.04%);
$bg-item: lightgray 50% / cover no-repeat;
$bg-line: #DEDEDE;
$input-footer: #2A2A2A;
$border: #BDBDBD;
$item-main: rgba(0, 0, 0, 0.22);